<!DOCTYPE html>
<html lang="en">
<head>
<%- include ./partial/head%>
</head>
<body style="background-color: rgba(245, 231, 43, 0.404)">
    <h1 >PLEASE LOGIN</h1>
    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <form action="/login" method="post">
                    <p>
                        <h3>UserName</h3>
                        <br>
                        <input type="text" name="username" placeholder="type username">
                    </p>
                    <p>
                        <h3>Password</h3>
                        <br>
                        <input type="password" name="password" placeholder="type password">
                    </p>
                    <p>
                        <input type="submit" value="SUBMIT">
                    </p>
                </form>
            </div>
            <div class="col-sm-6">
                <img src="images/loginreq.jpeg" alt="">

            </div>
            <div>
                <p class="text-info">Don't have any user account? Just click down here</p>
                <h3>REGISTER<small><a href="/register">here</a></small></h3>    
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4 style="color: red">
            <% if(error_login === true) { %>
                Error Login : username and password not match or username doesn't exist
                <% } %>
        </h4>
    </div>

</body>
</html>