<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Register Your Self </h2>
    <form action="/register" method="post">
        Username
        <br>
        <p>
            <input type="text" name="username" placeholder="type username">
        </p>
        PASSWORD
        <br>
        <p>
            <input type="password" name="password" placeholder="type password">
        </p>
        ROLE
        <br>
        <p>
            <select name="role">
                <option value="student">student</option>
                <option value="admin">administrator</option>
            </select>
        </p>
        <p>
            <input type="submit" value="SUBMIT">
        </p>
    </form>
    <br>
    <br>
    <h4 style="color: red">
        <% if(error_reg === true) { %>
            Username already exist
            <% } %>
    </h4>
</body>
</html>