<!DOCTYPE html>
<html lang="en">
<head>
<%- include ./partial/head%>
</head>
    <body align="center" style="background-color: rgb(233, 201, 113)">
        <h1 style="color: rgba(150, 107, 32, 0.548)" class="text-success">REGISTER SUCCESS</h1>
        
        <a href="/login">Login Here</a>
    </body>
</html>